
{% extends 'base.html' %}
{% load get_item %}
{% load index %}
{% block custom_head %}

    <!-- Custom styles for this page -->
    <link href="/static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}

{% block content %}

    {% for active_order in active_orders %}
    <div class="row justify-content-center">
        <div class="col-10">
            <h5>Позиции в заказе номер {{ active_order.id }}:</h5>
            <h5>Заказ с проекта - {{ active_order.project.name }}</h5>
            {% if not active_order.is_empty %}
            <div class="progress" style="margin-bottom: 10px;">
                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{ active_order.get_percent_stage }}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">{{ active_order.get_order_stage_display }}</div>
            </div>
            {% endif %}
            {% for product_in_order in active_order.products_in_order.all %}
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <h4><a href="{% url 'product_details_url' product_id=product_in_order.product.id %}">{{ product_in_order.product }}</a></h4>
                        <table class="table table-bordered w-100" id="dataTable" cellspacing="0">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Номер</th>
                                <th>Название</th>
                                <th>Этап</th>
                                <th>Поставщик</th>
                                <th>Ед. измерения</th>
                                <th>Кол-во</th>
                                <th>Цена за единицу</th>
                                <th>Последняя цена - Поставщик</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item_to_order in product_in_order.product.items.all %}
                                <tr>
                                    <td><input type="checkbox" item-to-order-id="{{ item_to_order.id }}" name="select-item"></td>
                                    <td>{{ item_to_order.id }}</td>
                                    <td>{{ item_to_order.name }}</td>
                                    <td><select name="select_stage" onchange="">
                                        {% for stage in stages %}
                                            {% if stage.id == item_to_order.stage.id %}
                                            <option value="{{ stage.name }}_{{ stage.id }}" id="{{ item_to_order.id }}" selected>{{ stage.name }}</option>
                                            {% else %}
                                            <option value="{{ stage.name }}_{{ stage.id }}" id="{{ item_to_order.id }}">{{ stage.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select></td>
                                    <td>{{ item_to_order.supplier.name }}</td>
                                    <td>{{ item_to_order.get_unit_measurement_display }}</td>
                                    <td><input class="form-control" type="number" name="item_qty" min="1" step="1" value="{{ item_to_order.quantity }}" onchange="api_change_item_qty_in_order(this, {{ item_to_order.id }})"></td>
                                    <td>{% if item_to_order.get_total_price %}{{ item_to_order.get_total_price|floatformat:2 }}{% else %}-{% endif %}</td>
                                    <td>{{ last_price|get_item:active_order.id|get_item:item_to_order.id|index:0 }} - {{ last_price|get_item:active_order.id|get_item:item_to_order.id|index:1 }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <h4>Аналог{% if product_in_order.product.similar.all|length > 1%}и({{ product_in_order.product.similar.all|length }}){% endif %} {{ product_in_order.product }}</h4>
                        <table class="table table-bordered w-100" id="dataTable" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Номер</th>
                                <th>Название</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for similar in product_in_order.product.similar.all %}
                                <tr>
                                    <td><a href="{% url 'product_details_url' product_id=similar.id %}">{{ similar.id }}</a></td>
                                    <td>{{ similar.name }}</td>
                                    <td>
                                        <button class="btn btn-info">Заменить</button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% if not active_order.is_empty %}
            <a href="#" class="btn btn-outline-secondary float-right">Сформировать заказ</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
{% endblock %}

{% block custom_script %}

    <!-- Page level plugins -->
    <script src="/static/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>
    <script src="/static/js/pilaru.js"></script>
    <script>


        function setGraph(obj){
            const data = {
                        labels: Object.keys(obj['Data']),
                        datasets: [{
                            label: 'Цена',
                            data: Object.values(obj['Data']),
                            fill: true,
                            borderColor: 'rgb(0, 204, 0)',
                            backgroundColor: 'rgb(0, 102, 255, 0.5)',
                            tension: 0.1
                        }]
            };
            const config = {
                type: 'line',
                data: data,
                options: {
                    scales: {
                        xAxes: [{
                            ticks: {
                                display: false
                            }
                        }]
                    }
                }
            };
            var ctx = document.getElementById("chart");
            var chart = new Chart(ctx, config);
        }

        function showGraph(item_id){
            location.hash ='show-graph'

            const csrftoken = getCookie('csrftoken');
            
            $.ajax({
                url: '/pilaru/orders/api/price_history',
                type: 'post',
                data: { 'item_id': item_id },
                headers: {
                    'X-CSRFToken': csrftoken,
                },
                dataType: 'json',
                success: function (obj) {
                    setGraph(obj)
                },
                error: function (e) {
                    alert('Ошибка запроса к серверу: ' + e.toString());
                }
            });    
        }

        $(document).ready(function() {
            $('#dataTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json",
                },
                "paging": false,
                "searching": false
            });
        });
            
    </script>

    <!-- /.container-fluid -->
{% endblock %}