{% extends 'base.html' %}

{% load get_item %}
{% load index %}
{% block content %}
    {% include "base_order.html" with order=order %}
{% endblock %}
{% block custom_script %}

    <!-- Page level plugins -->
    <script src="{% static '/vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static '/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<!--    <script>-->
<!--        $(document).ready(function() {-->
<!--            $('#dataTable').DataTable({-->
<!--                "language": {-->
<!--                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json",-->
<!--                },-->
<!--                "paging": false,-->
<!--                "searching": false-->
<!--            });-->
<!--        });-->
<!--    </script>-->

    <!-- /.container-fluid -->
{% endblock %}