{% extends 'base_order.html' %}

{% load get_item %}
{% load index %}

    {% block price_stage_1 %}
        <td>-</td>
    {% endblock %}

    {% block price_stage_2 %}
        <td>{{ item_to_order.get_total_price|floatformat:2 }}</td>
    {% endblock %}

    {% block price_stage_3 %}
        <td>{{ item_to_order.get_total_price|floatformat:2 }}</td>
    {% endblock %}

    {% block price_stage_4 %}
        <td>{{ item_to_order.get_total_price|floatformat:2 }}</td>
    {% endblock %}

{% block custom_script %}

    <!-- Page level plugins -->
    <script src="/static/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<!--    <script>-->
<!--        $(document).ready(function() {-->
<!--            $('#dataTable').DataTable({-->
<!--                "language": {-->
<!--                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json",-->
<!--                },-->
<!--                "paging": false,-->
<!--                "searching": false-->
<!--            });-->
<!--        });-->
<!--    </script>-->

    <!-- /.container-fluid -->
{% endblock %}