{% extends 'base_order.html' %}

{% load get_item %}
{% load index %}

{% block custom_head %}
<style>
    .disabledbutton {
        pointer-events: none;
        opacity: 0.4;
    }
</style>
{% endblock %}


    {% block price_stage_1 %}
        <td>{% if item_to_order.get_total_price %}{{ item_to_order.get_total_price|floatformat:2 }}{% else %}-{% endif %}</td>
    {% endblock %}

    {% block last_price_stage_1 %}
        {% if last_price|get_item:order.id|get_item:item_to_order.id %}
        <td>{{ last_price|get_item:order.id|get_item:item_to_order.id }}</td>
        {% else %}
        <td>У Вас пока нет истории заказов :(</td>
        {% endif %}
    {% endblock %}


    {% block price_stage_2 %}
        <td>
            {% if item_to_order.get_total_price %}{{ item_to_order.get_total_price|floatformat:2 }}{% else %}-{% endif %}
            {% if last_price|get_item:order.id|get_item:item_to_order.id %}
                {% if last_price|get_item:order.id|get_item:item_to_order.id > item_to_order.get_total_price %}
                    <i class="fa fa-arrow-down"></i>
                {% elif last_price|get_item:order.id|get_item:item_to_order.id < item_to_order.get_total_price %}
                    <i class="fa fa-arrow-up"></i>
                {% else %}

                {% endif %}
            {% endif %}
        </td>
    {% endblock %}

    {% block last_price_stage_2 %}
        {% if last_price|get_item:order.id|get_item:item_to_order.id %}
        <td>{{ last_price|get_item:order.id|get_item:item_to_order.id }}</td>
        {% else %}
        <td>У Вас пока нет истории заказов :(</td>
        {% endif %}
    {% endblock %}

    {% block price_stage_3 %}
        <td>
            {% if item_to_order.get_total_price %}{{ item_to_order.get_total_price|floatformat:2 }}{% else %}-{% endif %}
            {% if last_price|get_item:order.id|get_item:item_to_order.id %}
                {% if last_price|get_item:order.id|get_item:item_to_order.id > item_to_order.get_total_price %}
                    <i class="fa fa-arrow-down"></i>
                {% elif last_price|get_item:order.id|get_item:item_to_order.id < item_to_order.get_total_price %}
                    <i class="fa fa-arrow-up"></i>
                {% else %}

                {% endif %}
            {% endif %}
        </td>
    {% endblock %}

    {% block last_price_stage_3 %}
        {% if last_price|get_item:order.id|get_item:item_to_order.id %}
        <td>{{ last_price|get_item:order.id|get_item:item_to_order.id }}</td>
        {% else %}
        <td>У Вас пока нет истории заказов :(</td>
        {% endif %}
    {% endblock %}

    {% block price_stage_4 %}
        <td>
            {% if item_to_order.get_total_price %}{{ item_to_order.get_total_price|floatformat:2 }}{% else %}-{% endif %}
            {% if last_price|get_item:order.id|get_item:item_to_order.id %}
                {% if last_price|get_item:order.id|get_item:item_to_order.id > item_to_order.get_total_price %}
                    <i class="fa fa-arrow-down"></i>
                {% elif last_price|get_item:order.id|get_item:item_to_order.id < item_to_order.get_total_price %}
                    <i class="fa fa-arrow-up"></i>
                {% else %}

                {% endif %}
            {% endif %}
        </td>
    {% endblock %}

    {% block last_price_stage_4 %}
        {% if last_price|get_item:order.id|get_item:item_to_order.id %}
        <td>{{ last_price|get_item:order.id|get_item:item_to_order.id }}</td>
        {% else %}
        <td>У Вас пока нет истории заказов :(</td>
        {% endif %}
    {% endblock %}


    {% block buttons %}
    {% if order.order_stage == 1 %}
        <a href="#" class="btn btn-outline-secondary float-right" name="send-message-to-suppliers" data-item-id="{{ order.id }}">Запросить цену</a>
    {% elif order.order_stage == 2 %}
            {% if order.is_answer_all_suppliers %}
            <a href="#" class="btn btn-outline-secondary float-right" name="make-order" data-item-id="{{ order.id }}">Оформить заказ</a>
            {% else %}
            <a href="#" class="btn btn-outline-secondary float-right" name="-" data-item-id="{{ order.id }}">Оформить заказ</a>
            {% endif %}
    {% elif order.order_stage == 3 %}
        <a href="#" class="btn btn-outline-secondary float-right" name="-" data-item-id="{{ order.id }}">Подтвердить выбранные товары</a>
    {% elif order.order_stage == 4 %}
        <a href="#" class="btn btn-outline-secondary float-right" name="-" data-item-id="{{ order.id }}">Заказать</a>
    {% endif %}

    <a href="#" class="btn btn-outline-danger float-right mr-2" name="close-order" data-item-id="{{ order.id }}">Закрыть заказ</a>
    {% endblock %}


{% block custom_script %}

    <!-- Page level plugins -->
    <script src="/static/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>
    <script src="/static/js/pilaru.js"></script>
    <script>

        function setGraph(obj){
            const data = {
                        labels: Object.keys(obj['Data']),
                        datasets: [{
                            label: 'Цена',
                            data: Object.values(obj['Data']),
                            fill: true,
                            borderColor: 'rgb(0, 204, 0)',
                            backgroundColor: 'rgb(0, 102, 255, 0.5)',
                            tension: 0.1
                        }]
            };
            const config = {
                type: 'line',
                data: data,
                options: {
                    scales: {
                        xAxes: [{
                            ticks: {
                                display: false
                            }
                        }]
                    }
                }
            };
            var ctx = document.getElementById("chart");
            var chart = new Chart(ctx, config);
        }

        function showGraph(item_id){
            location.hash ='show-graph'

            const csrftoken = getCookie('csrftoken');
            
            $.ajax({
                url: '/pilaru/orders/api/price_history',
                type: 'post',
                data: { 'item_id': item_id },
                headers: {
                    'X-CSRFToken': csrftoken,
                },
                dataType: 'json',
                success: function (obj) {
                    setGraph(obj)
                },
                error: function (e) {
                    alert('Ошибка запроса к серверу: ' + e.toString());
                }
            });    
        }

        $(document).ready(function() {
            $('#dataTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json",
                },
                "paging": false,
                "searching": false
            });
        });
            
    </script>

    <!-- /.container-fluid -->
{% endblock %}