
{% extends 'base.html' %}
{% load get_item %}
{% load index %}
{% block custom_head %}

    <!-- Custom styles for this page -->
    <link href="/static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<style>

#show-graph:target {

display: block;

}


#show-graph {

background: rgba(102, 102, 102, 0.68);

width: 100%;

height: 100%;

position: fixed;

top: 0;

left: 0;

display: none;

z-index: 9999999999;

}

window {

position: absolute;

top: 50%;

left: 50%;

width: 400px;

border: 1px solid #cecece;

padding: 50px;

transform: translate(-50%,-50%);

background-color: #fafafa;

}

div#main_text a.close_window {

position: absolute;

right: 10px;

top: 4px;

border: none;

}

.dropdown-tr{
    display: none;
}

</style>
{% endblock %}

{% block content %}

    {% for active_order in active_orders %}
    <div class="row justify-content-center">
        <div class="col-10">
            <h5>Позиции в заказе номер {{ active_order.id }}:</h5>
            <h5>Заказ с проекта - {{ active_order.project.name }}</h5>
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered w-100" id="dataTable" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Номер</th>
                                <th>Название</th>
                                <th>Этап</th>
                                <th>Поставщик</th>
                                <th>Ед. измерения</th>
                                <th>Кол-во</th>
                                <th>Цена за единицу</th>
                                <th>Сумма</th>
                                <th>Последняя цена - Поставщик</th>
                                <th>Выбрать аналог</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item_to_order in active_order.items_in_order.all %}
                                <tr id="{{ item_to_order.item.id }}">
                                    <td>{{ item_to_order.item.id }}</td>
                                    <td>{{ item_to_order.item.name }}</td>
                                    <td><select name="select_stage" id="stages" onchange="">
                                        {% for stage in stages %}
                                            {% if stage.id == item_to_order.stage.id %}
                                            <option value="{{ stage.name }}_{{ stage.id }}" id="{{ item_to_order.id }}" selected>{{ stage.name }}</option>
                                            {% else %}
                                            <option value="{{ stage.name }}_{{ stage.id }}" id="{{ item_to_order.id }}">{{ stage.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select></td>
                                    <td>{{ item_to_order.item.supplier.name }}</td>
                                    <td>{{ item_to_order.item.get_unit_measurement_display }}</td>
                                    <td><input class="form-control" type="number" name="item_qty" min="1" step="1" value="{{ item_to_order.quantity }}" onchange="api_change_item_qty_in_order(this, {{ item_to_order.id }})"></td>
                                    <td><span>{% if item_to_order.price_offer %}{{ item_to_order.price_offer.price_per_unit|floatformat:2 }}{% else %}-{% endif %}</span><span style="float: right"><button onclick="showGraph('{{ item_to_order.item.name }}', '{{ item_to_order.item.supplier.name }}')" class="btn btn-primary">График</button></span></td>
                                    <td>{% if item_to_order.get_total_price %}{{ item_to_order.get_total_price|floatformat:2 }}{% else %}-{% endif %}</td>
                                    <td>{{ last_price|get_item:active_order.id|get_item:item_to_order.id|index:0 }} - {{ last_price|get_item:active_order.id|get_item:item_to_order.id|index:1 }}</td>
                                    <td>
                                        <button class="btn btn-secondary" id="showAnalogs"">Выбрать аналог</button>
                                    </td>
                                    <td>
                                        <button class="btn p-0" onclick="api_remove_item_from_order({{ item_to_order.id }})"><i class="fas fa-trash-alt fa-lg"></i></button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <a href="{% url 'search_url' %}" class="btn btn-outline-secondary float-right" onclick="api_close_order({{ active_order.id }})">Закрыть заказ</a>
        </div>
    </div>
    {% endfor %}
    <div id="show-graph">
        <window>
           <a href="#close_window" class="close_window">X</a>
           
            <canvas id="chart" width="500" height="500"></canvas>
        </window>
        <window>
           <a href="#close_window" class="close_window">X</a>
            
        </window>
    </div>
{% endblock %}

{% block custom_script %}

    <!-- Page level plugins -->
    <script src="/static/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>
    <script src="/static/js/pilaru.js"></script>
    <script>


        function setGraph(obj){
            const data = {
                        labels: Object.keys(obj['Data']),
                        datasets: [{
                            label: 'Цена',
                            data: Object.values(obj['Data']),
                            fill: true,
                            borderColor: 'rgb(0, 204, 0)',
                            backgroundColor: 'rgb(0, 102, 255, 0.5)',
                            tension: 0.1
                        }]
            };
            const config = {
                type: 'line',
                data: data,
            };
            var ctx = document.getElementById("chart");
            var chart = new Chart(ctx, config);
        }

        function showGraph(item_name, supplier_name){
            location.hash ='show-graph'

            const csrftoken = getCookie('csrftoken');
            
            $.ajax({
                url: 'http://127.0.0.1:8000/pilaru/orders/api/price_history',
                type: 'post',
                data: { 'name': item_name, 'supplier': supplier_name },
                headers: {
                    'X-CSRFToken': csrftoken,
                },
                dataType: 'json',
                success: function (obj) {
                    setGraph(obj)
                },
                error: function (e) {
                    alert('Ошибка запроса к серверу: ' + e.toString());
                }
            });    
        }

        $(document).ready(function() {
            $('#dataTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json",
                },
                "paging": false,
                "searching": false
            });
        });
            
    </script>

    <!-- /.container-fluid -->
{% endblock %}