{% extends 'base.html' %}

{% load get_item %}
{% load index %}
{% load last_price %}

{% block custom_head %}
<style>
    .disabledbutton {
        pointer-events: none;
        opacity: 0.4;
    }
</style>
{% endblock %}

{% block content %}

    {% for order in orders %}
    {% include "base_order.html" with order=order %}
    {% endfor %}

{% endblock %}

{% block custom_script %}

    <!-- Page level plugins -->
    <script src="/static/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>
    <script src="/static/js/pilaru.js"></script>
    <script>

        function setGraph(obj){
            const data = {
                        labels: Object.keys(obj['Data']),
                        datasets: [{
                            label: 'Цена',
                            data: Object.values(obj['Data']),
                            fill: true,
                            borderColor: 'rgb(0, 204, 0)',
                            backgroundColor: 'rgb(0, 102, 255, 0.5)',
                            tension: 0.1
                        }]
            };
            const config = {
                type: 'line',
                data: data,
                options: {
                    scales: {
                        xAxes: [{
                            ticks: {
                                display: false
                            }
                        }]
                    }
                }
            };
            var ctx = document.getElementById("chart");
            var chart = new Chart(ctx, config);
        }

        function showGraph(item_id){
            location.hash ='show-graph'

            const csrftoken = getCookie('csrftoken');
            
            $.ajax({
                url: '/pilaru/orders/api/price_history',
                type: 'post',
                data: { 'item_id': item_id },
                headers: {
                    'X-CSRFToken': csrftoken,
                },
                dataType: 'json',
                success: function (obj) {
                    setGraph(obj)
                },
                error: function (e) {
                    alert('Ошибка запроса к серверу: ' + e.toString());
                }
            });    
        }

        $(document).ready(function() {
            $('#dataTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json",
                },
                "paging": false,
                "searching": false
            });
        });
            
    </script>

    <!-- /.container-fluid -->
{% endblock %}