{% extends 'base.html' %}
{% load get_item %}
{% load index %}


{% block content %}
<div><p>Создатель - {{ creator }}</p></div>

<form action="" method="post">
    {% csrf_token %}
    <div style="float: right;">
        <label for="">Сгенерировать ссылку для приглашения в проект</label>
        <button class="btn btn-primary" type="submit">Сгенерировать</button>
        <input type="text" readonly value="{{ invite_link.link }}">
    </div>
</form>


<div>Участники:</div>
{% for member in project.members.all %}
    <li>
        {{ member }}
    </li>
{% endfor %}

<div>Активный заказ:</div>
    {% if project.get_active_order %}
    {% include "base_order_2.html" with order=project.get_active_order %}
<!--    <div class="row justify-content-center">-->
<!--        <div class="col-10">-->
<!--            <div class="card shadow mb-4">-->
<!--                <div class="card-body">-->
<!--                    <div class="table-responsive">-->
<!--                        <table class="table table-bordered w-100" id="dataTable" cellspacing="0">-->
<!--                            <thead>-->
<!--                            <tr>-->
<!--                                <th>Номер</th>-->
<!--                                <th>Название</th>-->
<!--                                <th>Этап</th>-->
<!--                                <th>Поставщик</th>-->
<!--                                <th>Ед. измерения</th>-->
<!--                                <th>Кол-во</th>-->
<!--                                <th>Цена за единицу</th>-->
<!--                                <th>Сумма</th>-->
<!--                                <th>Последняя цена - Поставщик</th>-->
<!--                                <th>Выбрать аналог</th>-->
<!--                                <th></th>-->
<!--                            </tr>-->
<!--                            </thead>-->
<!--                            <tbody>-->
<!--                            {% for item_to_order in project.get_active_order.items_in_order.all %}-->
<!--                                <tr id="{{ item_to_order.item.id }}_item">-->
<!--                                    <td>{{ item_to_order.item.id }}</td>-->
<!--                                    <td>{{ item_to_order.item.name }}</td>-->
<!--                                    <td><select name="" id="">-->
<!--                                        {% for stage in stages %}-->
<!--                                            {% if stage.id == item_to_order.stage.id %}-->
<!--                                            <option value="{{ stage.name }}_{{ stage.id }}" id="{{ item_to_order.id }}" selected>{{ stage.name }}</option>-->
<!--                                            {% else %}-->
<!--                                            <option value="{{ stage.name }}_{{ stage.id }}" id="{{ item_to_order.id }}">{{ stage.name }}</option>-->
<!--                                            {% endif %}-->
<!--                                        {% endfor %}-->
<!--                                    </select></td>-->
<!--                                    <td>{{ item_to_order.item.supplier.name }}</td>-->
<!--                                    <td>{{ item_to_order.item.get_unit_measurement_display }}</td>-->
<!--                                    <td><input class="form-control" type="number" name="item_qty" min="1" step="1" value="{{ item_to_order.quantity }}" onchange="api_change_item_qty_in_order(this, {{ item_to_order.id }})"></td>-->
<!--                                    <td><span>{% if item_to_order.price_offer %}{{ item_to_order.price_offer.price_per_unit|floatformat:2 }}{% else %}-{% endif %}</span><span style="float: right"><button onclick="showGraph({{ item_to_order.item.id }})" class="btn btn-primary">График</button></span></td>-->
<!--                                    <td>{% if item_to_order.get_total_price %}{{ item_to_order.get_total_price|floatformat:2 }}{% else %}-{% endif %}</td>-->
<!--                                    <td>{{ last_price|get_item:item_to_order.id|index:0 }} - {{ last_price|get_item:item_to_order.id|index:1 }}</td>-->
<!--                                    <td>-->
<!--                                        <button class="btn btn-secondary" id="showAnalogs" name="{{ item_to_order.id }}" onclick="Analogs(this, {{ item_to_order.id }})">Выбрать аналог</button>-->
<!--                                    </td>-->
<!--                                    <td>-->
<!--                                        <button class="btn p-0" onclick="api_remove_item_from_order({{ item_to_order.id }})"><i class="fas fa-trash-alt fa-lg"></i></button>-->
<!--                                    </td>-->
<!--                                </tr>-->
<!--                            {% endfor %}-->
<!--                            </tbody>-->
<!--                        </table>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <a href="{% url 'search_url' %}" class="btn btn-outline-secondary float-right" onclick="api_close_order({{ active_order.id }})">Закрыть заказ</a>-->
<!--            <a href="{% url 'supplier_table_url' order_id=project.get_active_order.id %}" class="btn btn-outline-secondary float-right">Смета поставщиков</a>-->
<!--        </div>-->
<!--    </div>-->
    {% else %}
    <h3>Нет активного заказа</h3>
    {% endif %}
<!--    <div id="show-graph">-->
<!--        <window>-->
<!--           <a href="#close_window" class="close_window">X</a>-->

<!--            <canvas id="chart" width="500" height="500"></canvas>-->
<!--        </window>-->
<!--    </div>-->

{% endblock %}
{% block custom_script %}
<script>
   $(document.body).on("change","#stages",function(){
        console.log(1);
        var product_stage_id = this.value;
        var item_to_order_id = this['children'][0]['id'];
        $.ajax({
            // TODO:Need To change
            url: '/pilaru/items/api/set_stage',
            type: 'post',
            data: { 'product_stage_id': product_stage_id, 'item_to_order_id': item_to_order_id },
            headers: {
                'X-CSRFToken': csrftoken,
            },
            dataType: 'json',
            success: function (data) {

            },
            error: function (e) {
                alert('Ошибка запроса к серверу: ' + e['error']);
            }
        });
    });
</script>

{% endblock %}