{% extends 'base.html' %}
{% load get_item %}
{% load index %}


{% block content %}
<div><p>Создатель - {{ creator }}</p></div>

<form action="" method="post">
    {% csrf_token %}
    <div style="float: right;">
        <label for="">Сгенерировать ссылку для приглашения в проект</label>
        <button class="btn btn-primary" type="submit">Сгенерировать</button>
        <input type="text" readonly value="{{ invite_link.link }}">
    </div>
</form>


<div>Участники:</div>
{% for member in project.members.all %}
    <li>
        {{ member }}
    </li>
{% endfor %}

<div>Активный заказ:</div>
    {% if project.get_active_order %}
        {% include "base_order.html" with order=project.get_active_order %}
    {% else %}
        <h3>Нет активного заказа</h3>
    {% endif %}
<!--    <div id="show-graph">-->
<!--        <window>-->
<!--           <a href="#close_window" class="close_window">X</a>-->

<!--            <canvas id="chart" width="500" height="500"></canvas>-->
<!--        </window>-->
<!--    </div>-->

{% endblock %}
{% block custom_script %}
<script>
   $(document.body).on("change","#stages",function(){
        console.log(1);
        var product_stage_id = this.value;
        var item_to_order_id = this['children'][0]['id'];
        $.ajax({
            // TODO:Need To change
            url: '/pilaru/items/api/set_stage',
            type: 'post',
            data: { 'product_stage_id': product_stage_id, 'item_to_order_id': item_to_order_id },
            headers: {
                'X-CSRFToken': csrftoken,
            },
            dataType: 'json',
            success: function (data) {

            },
            error: function (e) {
                alert('Ошибка запроса к серверу: ' + e['error']);
            }
        });
    });
</script>

{% endblock %}