{% extends 'base.html' %}
{% load get_item %}
{% load index %}

{% block content %}
<div class="row justify-content-center">
        <div class="col-10">
            <h5>Поставщики</h5>
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        {% for supp in suppliers %}
                            <h2>{{ supp }}</h2>
                            <table class="table table-bordered w-100" id="dataTable" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Позиция</th>
                                    <th>Количество</th>

                                </tr>
                                </thead>
                                <tbody>
                                    {% for item in suppliers|get_item:supp %}
                                        <tr>
                                            <td width="50%">{{ item.item.name }}</td>
                                            <td width="50%">{{ item.quantity }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}