{% extends 'base.html' %}

{% block title %}
    Pila.Ru - Категории
{% endblock %}

{% block custom_head %}

<style>
    li {
        list-style-type: none;
    }

    a.categories {
        color: #000 !important;
        text-decoration: none
    }
</style>
{% endblock %}

{% block content %}
    <h1>Категории</h1>
    <div class="list-wrap">

        {% for parent_cat in categories %}
            <div class="catalog-item" style="float: left; margin-right: 20px;">
                <h3><a href="#" class="categories">{{ parent_cat }}</a></h3>
                {% for cat in categories|get_item:parent_cat %}
                    <div class="item-description-container">
                        <li>
                            <a href="{% url 'category_url' slug=cat.slug%}" class="categories">{{ cat.name }}</a>
                        </li>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block custom_script %}
{% endblock %}