{% extends 'base.html' %}

{% load static %}

{% block custom_head %}

    <!-- Custom styles for this page -->
    <link href="{% static '/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
        <ul class="list-inline">
            {% if current_category_name != "Категории" %}

                <li class="list-inline-item"><a style="font-size: 14px;" href="{% url 'search_url' %}">Все категории</a> > </li>
                {% for category in parent_category_path %}
                    <li class="list-inline-item"><a style="font-size: 14px;" href="{% url 'search_category_url' category.slug %}">{{ category.name }}</a> > </li>
                {% endfor %}
            {% endif %}
        </ul>
        <div class="row">
            <div class="col-2">

                <h5 style="color: black; padding-top: 20px;">{{ current_category_name }}</h5>
                <ul class="list-group list-group-flush">
                    {% for category in child_categories %}
                        <li class="list-group-item"><a href="{% url 'search_category_url' category.slug %}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-10">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Номер</th>
                                    <th>Название</th>
                                    <th>Категория</th>
                                    <th>Поставщик</th>
                                    <th>Ед. измерения</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>Номер</th>
                                    <th>Название</th>
                                    <th>Категория</th>
                                    <th>Поставщик</th>
                                    <th>Ед. измерения</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                {% for product in products %}
                                    <tr>
                                        <td>П{{ product.id }}</td>
                                        <td><a href="{% url 'product_details_url' product_id=product.id %}">{{ product.name }}</a></td>
                                        <td>{{ product.category.name }}</td>
                                        <td>{{ product.supplier }}</td>
                                        <td>{{ product.get_unit_measurement_display }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}

{% block custom_script %}

    <!-- Page level plugins -->
    <script src="{% static '/vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static '/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('#dataTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json",
                }
            });
        });
    </script>

    <!-- /.container-fluid -->
{% endblock %}